@import 'node_modules/sass-material-colors/sass/sass-material-colors';
@import 'src/universal/styles/typography.scss';
@import 'src/universal/styles/space.scss';
@import "src/universal/styles/mixins.scss";

.side-nav {
  background-color: material-color('blue-grey', '800') !important;
  box-shadow: none !important;
  padding: $space-inset-default;
  padding-top: $space-xl;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}


.menuButton {
  &:focus {
    outline: none;
  }
  margin: $space-stack-s;
  @include font-size(12);
  font-family: $font-family-regular;
  background: none;
  border: none;
  transition: .3s color ease;
}

.menu-highlight {
  position: absolute;
  content: '';
  right: 0;
  margin-top: -21px;
  width: 50%;
  height: 3px;
  transition: .5s background-color ease;
}
