@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  height: 100%;
}

body {
   width: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', 'Open-Sans', Helvetica;
   background: #EEEEEE;
}

h1,h2,h3,h4,h5,h6 {
  color: #212121;
  font-weight: 400;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

p, li, ul, ol {
  font-family: Helvetica;
  color: #212121;
  font-size: 20px;
  line-height: 1.25em;
}

.app {
  width: 100%;
  height: 100%;
}

/* Rules for sizing the icon. */
.material-icons .md-18 { font-size: 18px !important; }
.material-icons .md-24 { font-size: 24px !important; }
.material-icons .md-36 { font-size: 36px !important; }
.material-icons .md-48 { font-size: 48px !important; }
