html {
  height: 100%;
  background: linear-gradient(90deg, #80A2CC, #F99F86);
  background: -webkit-linear-gradient(90deg, #80A2CC, #F99F86);
}

body {
   width: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;
   padding-top: 64px !important;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', Sans-serif, Helvetica;
   background: #EEEEEE;

}

h1,h2,h3,h4,h5,h6 {
  color: #212121;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

p, li, ul, ol {
  font-family: 'Raleway';
  color: #212121;
  font-size: 20px;
  line-height: 1.25em;
}

.app {
  width: 100%;
  height: 100%;

  /*padding-top: 100px;*/
}
