.DS_Store
node_modules
build
npm-debug.log
.idea

__pycache__
# IDEs
.project
.pydevproject
.vscode
.settings

# Random files
*~
\#*

virtualenv/
htmlcov/
react/static_dist/
djangok8s/static/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite
*.sqlite3

# Node modules
node_modules/
npm-debug.log

# yarn
yarn.lock

# Coverage
coverage/
.coverage
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# in case we run shippable tests don't include it
shippable/

