.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  padding: 1em;
}

.formButton {
  width: 100%;
}

.asyncError {
  color: #fff;
  background-color: rgb(0, 188, 212);
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}
